<div class="flex flex-col flex-auto min-w-0">
    
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">

            <mat-tab-group class="sm:px-2" [animationDuration]="'0'">
                <mat-tab label="Pila del Producto">
                    <ng-template matTabContent>
                        <app-product-stack></app-product-stack>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Sprints">
                    <ng-template matTabContent>
                        <app-sprint></app-sprint>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Tablero Kanban">
                    <ng-template matTabContent>
                        <app-boards></app-boards>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Release">
                    <ng-template matTabContent>
                        <app-release></app-release>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
