<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <div class="flex-auto p-6 sm:p-8 sm:pt-4 overflow-y-auto" cdkScrollable>
        <div
            class="flex"
            cdkDropList
            [cdkDropListData]="objSprint.columnsKambanStatus"
            [cdkDropListOrientation]="'horizontal'"
        >
            <!-- Group all cdkDropList's after this point together so that the cards can be transferred between lists -->
            <div class="flex items-start" cdkDropListGroup>
                <!-- List -->
                <ng-container
                    *ngFor="
                        let column of objSprint.columnsKambanStatus;
                        trackBy: trackByFn
                    "
                >
                    <div
                        class="flex-0 w-72 p-2 rounded-2xl bg-default"
                        cdkDrag
                        [cdkDragLockAxis]="'x'"
                    >
                        <div
                            class="flex items-center justify-between"
                            cdkDragHandle
                        >
                            <div
                                class="flex items-center w-full py-2 px-3 rounded-md cursor-text border border-transparent focus-within:bg-white focus-within:shadow-sm focus-within:border-primary dark:focus-within:bg-gray-900"
                            >
                                <input
                                    class="w-full font-medium leading-5 bg-transparent"
                                    [spellcheck]="'false'"
                                    [value]="column.columnNameKamban"
                                    #listTitleInput
                                />
                            </div>
                           
                            <div class="ml-1">
                                <button
                                    class="w-8 h-8 min-h-8"
                                    mat-icon-button
                                    [matMenuTriggerFor]="listMenu"
                                >
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="
                                            'heroicons_solid:dots-vertical'
                                        "
                                    ></mat-icon>
                                </button>
                                <mat-menu #listMenu="matMenu">
                                    <button
                                        mat-menu-item
                                        (click)="renameList(listTitleInput)"
                                    >
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="
                                                'heroicons_solid:pencil-alt'
                                            "
                                        ></mat-icon>
                                        Rename list
                                    </button>
                                    <button
                                        mat-menu-item
                                        (click)="deleteList(column.statusName)"
                                    >
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:trash'"
                                        ></mat-icon>
                                        Delete list
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div
                            class="mt-2 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border"
                        >
                            <div
                                [id]="column.id"
                                class="p-3 pb-0"
                                cdkDropList
                                [cdkDropListData]="column.items"
                                (cdkDropListDropped)="cardDropped($event)"
                            >
                                <ng-container
                                    *ngFor="
                                        let card of column.items;
                                        trackBy: trackByFn
                                    "
                                >
                                    <h1
                                        class="flex flex-col items-start mb-3 p-5 space-y-3 shadow rounded-lg overflow-hidden bg-card"
                                        [routerLink]="['card', card.id]"
                                        cdkDrag
                                    >
                                        <div
                                            class="text-lg font-medium leading-5"
                                        >
                                            {{ card.title }}
                                        </div>
                                    </h1>
                                </ng-container>
                            </div>
                            <button
                                (saved)="addCard(column, $event)"
                                [buttonTitle]="'Add a card'
                                "
                            >
                            </button>
                        </div>
                    </div>
                </ng-container>

                <!-- New list -->
                <!-- <scrumboard-board-add-list
                    (saved)="addList($event)"
                    [buttonTitle]="'Add a list'
                    ">
                </scrumboard-board-add-list> -->
            </div>
        </div>
    </div>
</div>
